$primary :whitesmoke;
$secondary :white;

$c1: #212529;
$c2: #343a40;
$c3: #495057;
$c4: #6c757d;
$c5: #adb5bd;
$c6: #ced4da;
$c7: #dee2e6;
$c8: #e9ecef;
$c9: #f8f9fa;

$cButton: #5E35D6;

$phone_menu_height: 48.38px;

$cS: rgb(255, 127, 127);//rgba(218, 141, 0, 0.719);
$cA: rgb(255, 191, 127);//rgba(218, 0, 0, 0.719);
$cB: rgb(255, 223, 127);//rgba(121, 187, 0, 0.719);
$cC: rgb(255, 255, 127);//rgba(97, 255, 229, 0.719);
$cD: rgb(191, 255, 127);//rgba(0, 76, 218, 0.719);
$cE: rgb(127, 255, 127);//rgba(131, 0, 218, 0.719);
$cF: rgb(127, 255, 255);//rgba(165, 42, 42, 0.753);

$ff1: "Helvetica";
$ff2: "Rockwell";