$primary :whitesmoke;
$secondary :white;

$c1: #212529;
$c2: #343a40;
$c3: #495057;
$c4: #6c757d;
$c5: #adb5bd;
$c6: #ced4da;
$c7: #dee2e6;
$c8: #e9ecef;
$c9: #f8f9fa;

$cButton: #5E35D6;

$phone_menu_height: 48.38px;

$cS: rgb(255, 127, 127);
$cA: rgb(255, 191, 127);
$cB: rgb(255, 223, 127);
$cC: rgb(255, 255, 127);
$cD: rgb(191, 255, 127);
$cE: rgb(127, 255, 127);
$cF: rgb(127, 255, 255);

$cSdarker: rgb(238, 102, 102);
$cAdarker: rgb(255, 158, 60);
$cBdarker: rgb(255, 202, 43);
$cCdarker: rgb(247, 247, 7);
$cDdarker: rgb(154, 255, 53);
$cEdarker: rgb(30, 206, 30);
$cFdarker: rgb(18, 197, 197);

$ff1: "Helvetica";
$ff2: "Rockwell";
