@import "../shared/variables";

.menu {
    background-color: $c2;
    color: white;
    width: 100%;
    @media screen and (min-width:710px) {
        display: flex;
        justify-content: center;
    }
    display: none;
}

.menu div {
    list-style: none;
    text-align: center;
    width: 240px;
}

.menu-link {
    @media screen and (max-width:768px) {
        padding: 0.7rem 0;
    }
    padding: 0.9rem 0;
}

.menu-link:hover {
    cursor: pointer;
    background-color: $c1;
    color: whitesmoke;
}
