@import "../../shared/variables";

button {
    background-color: $c1;
    @media screen and (max-width:768px) {
        padding: 0.5rem 0.6rem;
    }
    padding: 0.7rem 0.8rem;
    font-size: 14px;
    border: 0;
    text-align: center;
    border-radius: 0 4px 4px 0;
}

button:hover {
    cursor: pointer;
}

.search {
    padding-top: 1rem;
    width: 100%;
}

.search input {
    width: 75%;
    @media screen and (max-width:768px) {
        padding: 0.5rem 0;
    }
    padding: 0.7rem 0;
    font-size: 14px;
    line-height: 1.5;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    text-indent: 0.5rem;
}
