@import "../../shared/variables";

.sub-container {
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 1.5rem;
    background-color: white;
}

.go-back{
    margin-top: 1rem;
    @media screen and (min-width:710px) {
        margin-top: 2rem;
    }
}

    .go-back a {
        color: $c3;
    }

    .go-back a:hover {
        color: $c5;
    }

.media {
    @media screen and (min-width:576px) {
        min-height: 320px;    
    }
}

.actions {
    width: 100%;
    @media screen and (max-width:575px) {    
        margin-top: 2rem;
    }
    border-top: 1px solid $c5;
    padding: 0.5rem 0;
}

.deletePopup {
    position: fixed;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 290px;
    border-radius: 10px;
    background-color: $c7;
    box-shadow: 0 2px 4px 4px rgba(0, 0, 0, 0.2), 0 3px 8px 0 rgba(0, 0, 0, 0.19);
}

.edit-loading {
    @media screen and (max-width:575px) { 
        opacity: 0.5;
    }
}
