@import "../shared/variables";

.filter-state {
    padding: 0.75rem 0 0.25rem 0;
    border: 1px solid $c1;
    border-radius: 10px 10px 0 0;
    background-color: $c3;
    color: white;
    text-indent: 0.5rem;
}

    .filter-state:hover {
        cursor: pointer;
        text-decoration: underline;
    }

.filters {
    padding: 0 1rem;
    border: 1px solid $c5;
    border-radius: 0 0 5px 5px;
    background-color: whitesmoke;
    color: black;
}

    .form-select {
        width: 5rem;
    }

    .form-control {
        width: 10rem;
    }

h2 {
    margin: 0;
}

.S_accordion-button {
    background-color: $cS;
    color: black;
}

    .S_accordion-button:not(.collapsed), .S_accordion-button:hover {
        background-color: $cSdarker;
    }

.A_accordion-button {
    background-color: $cA;
    color: black;
}

    .A_accordion-button:not(.collapsed), .A_accordion-button:hover {
        background-color: $cAdarker;
    }

.B_accordion-button {
    background-color: $cB;
    color: black;
}

    .B_accordion-button:not(.collapsed), .B_accordion-button:hover {
        background-color: $cBdarker;
    }

.C_accordion-button {
    background-color: $cC;
    color: black;
}

    .C_accordion-button:not(.collapsed), .C_accordion-button:hover {
        background-color: $cCdarker;
    }

.D_accordion-button {
    background-color: $cD;
    color: black;
}

    .D_accordion-button:not(.collapsed), .D_accordion-button:hover {
        background-color: $cDdarker;
    }

.E_accordion-button {
    background-color: $cE;
    color: black;
}

.E_accordion-button:not(.collapsed), .E_accordion-button:hover {
    background-color: $cEdarker;
}

.F_accordion-button {
    background-color: $cF;
    color: black;
}

    .F_accordion-button:not(.collapsed), .F_accordion-button:hover {
        background-color: $cFdarker;
    }

.accordion-button:focus {
    box-shadow: inherit;
}

.S_accordion-collapse {
    background-color: $cS;
}

.A_accordion-collapse {
    background-color: $cA;
}

.B_accordion-collapse {
    background-color: $cB;
}

.C_accordion-collapse {
    background-color: $cC;
}

.D_accordion-collapse {
    background-color: $cD;
}

.E_accordion-collapse {
    background-color: $cE;
}

.F_accordion-collapse {
    background-color: $cF;
}
