@import "../shared/variables";

h2 {
    margin: 0;
}

.filter-state {
    padding: 0.75rem 0 0.25rem 0;
    border: 1px solid $c1;
    border-radius: 10px 10px 0 0;
    background-color: $c3;
    color: white;
    text-indent: 0.5rem;
}

    .filter-state:hover {
        cursor: pointer;
        text-decoration: underline;
    }

.filters {
    padding: 0 1rem;
    border: 1px solid $c5;
    border-radius: 0 0 5px 5px;
    background-color: whitesmoke;
    color: black;
}

.tier {
    color: $c1;
}

    .tier:hover {
        color: $c7;
        cursor: pointer;
        text-decoration: underline;
    }

%tier_container {
    padding: 0.5rem
}

    .S_bc {
        @extend %tier_container;
        background-color: $cS
    }

    .A_bc {
        @extend %tier_container;
        background-color: $cA
    }

    .B_bc {
        @extend %tier_container;
        background-color: $cB
    }

    .C_bc {
        @extend %tier_container;
        background-color: $cC
    }

    .D_bc {
        @extend %tier_container;
        background-color: $cD
    }

    .E_bc {
        @extend %tier_container;
        background-color: $cE
    }

    .F_bc {
        @extend %tier_container;
        background-color: $cF
    }

.form-select {
    width: 5rem;
}

.form-control {
    width: 10rem;
}
