<app-menu></app-menu>

<div class="container">
    <div class="filter-container">
        <div class="filter-state" (click)="filter = !filter">
            <div>Option de Tri / Filtre</div>
        </div>
        <div class="filters" *ngIf="filter">
            <div class="filter-option">
                <label>catégorie</label>
                <select>
                    <option value="">catégorie</option>
                </select>
            </div>
            <div class="filter-option">
                <label>tier</label>
                <select>
                    <option value="">tier</option>
                </select>
            </div>
            <div class="filter-option">
                <label>tag</label>
                <select>
                    <option value="">tag</option>
                </select>
            </div>
            <div class="filter-option button">
                <button>Filtrer</button>
            </div>
        </div>
    </div>

    <div class="S_bc">
        <div class="tier" (click)="S_tier = !S_tier">S tier</div>
        <div class="grid" *ngIf="S_tier">
            <app-media-card [media]="media" *ngFor="let media of medias_S_tier"></app-media-card>
        </div>
    </div>

    <div class="A_bc">
        <div class="tier" (click)="A_tier = !A_tier; getMediasOfATier()">A tier</div>
        <div class="grid" *ngIf="A_tier">
            <app-media-card [media]="media" *ngFor="let media of medias_A_tier"></app-media-card>
        </div>
    </div>

    <div class="B_bc">
        <div class="tier" (click)="B_tier = !B_tier; getMediasOfBTier()">B tier</div>
        <div class="grid" *ngIf="B_tier">
            <app-media-card [media]="media" *ngFor="let media of medias_B_tier"></app-media-card>
        </div>
    </div>

    <div class="C_bc">
        <div class="tier" (click)="C_tier = !C_tier; getMediasOfCTier()">C tier</div>
        <div class="grid" *ngIf="C_tier">
            <app-media-card [media]="media" *ngFor="let media of medias_C_tier"></app-media-card>
        </div>
    </div>

    <div class="D_bc">
        <div class="tier" (click)="D_tier = !D_tier; getMediasOfDTier()">D tier</div>
        <div class="grid" *ngIf="D_tier">
            <app-media-card [media]="media" *ngFor="let media of medias_D_tier"></app-media-card>
        </div>
    </div>

    <div class="E_bc">
        <div class="tier" (click)="E_tier = !E_tier; getMediasOfETier()">E tier</div>
        <div class="grid" *ngIf="E_tier">
            <app-media-card [media]="media" *ngFor="let media of medias_E_tier"></app-media-card>
        </div>
    </div>

    <div class="F_bc">
        <div class="tier" (click)="F_tier = !F_tier; getMediasOfFTier()">F tier</div>
        <div class="grid" *ngIf="F_tier">
            <app-media-card [media]="media" *ngFor="let media of medias_F_tier"></app-media-card>
        </div>
    </div>

    <div class="lastMedia"></div>
</div>

<app-menu-phone></app-menu-phone>
