<app-menu></app-menu>

<div class="container">
    <div class="flex-x-right sub-menu-container">
        <div>
            <div class="sub-menu" routerLink="add">Ajouter</div>
            <div *ngIf="isActive('add')" class="active"></div>
        </div>
        <div>
            <div class="sub-menu" routerLink="create-and-add">Créer & Ajouter</div>
            <div *ngIf="isActive('create')" class="active"></div>
        </div>
    </div>
    
    <router-outlet></router-outlet>
</div>

<app-menu-phone></app-menu-phone>
