@import "../shared/variables";

.bc-login {
    background-color: $c1;
}

.authentification {
    @media screen and (max-width:425px) {
        width: 290px;
    }
    @media screen and (max-width:768px) and (min-width:426px) {
        width: 320px;
    }
    width: 400px;
    background-color: $c8;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

    .authentification form {
        width: 90%;
    }

        .authentification form div {
            margin: 1rem;
        }

button {
    width: 100%;
    color: white;
    font-weight: bold;
    background-color: $cButton;
    border-radius: 5px;
}

.error {
    background-color: rgb(190, 99, 99);
    color: white;
    border: solid 2px rgb(170, 170, 170);
    border-radius: 10px;
}