<app-spinner *ngIf="loading"></app-spinner>

<div [ngClass]="{'loading': loading}" class="bc-login d-flex justify-content-center align-items-center h-100vh">
    <div class="authentification d-flex flex-column justify-content-center align-items-center py-3">
        <h4>Se connecter</h4>
        <form (ngSubmit)="register()" [formGroup]="authentificationForm">
            <div>
                <input class="form-control" type="text" placeholder="Identifiant" formControlName="u_username">
            </div>
            <div>
                <input class="form-control" type="password" placeholder="Mot de passe" formControlName="u_password">
            </div>
            <div>
                <button class="p-1" type="submit" [disabled]="authentificationForm.invalid">Valider</button>
            </div>

            <div class="error" *ngIf="loginError">
                <span class="d-flex justify-content-center align-items-center p-1">Mauvais identifiant ou mot de passe</span>
            </div>
        </form>

        <a href="">Créer un compte</a>
    </div>
</div>
