.authentification {
    background-color: green;
}

    .authentification form {
        background-color: whitesmoke;
        padding: 1rem;
    }

        .authentification form div {
            margin: 1rem;
        }

            .authentification form div input {
                
            }

            .authentification form div button {
                width: 100%;
            }