@import "../../shared/variables";

.menu {
    background-color: $c2;
    color: white;
    width: 100%;
    @media screen and (max-width:709px) {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
        
        overflow: hidden;
        position: fixed;
        bottom: 0;
        width: 100%;
        
    }
    display: none;
}

.menu div {
    list-style: none;
    text-align: center;
}

.menu-link {
    @media screen and (max-width:768px) {
        padding: 0.7rem 0;
    }
    padding: 0.9rem 0;
}

.new {
    font-size: x-large;
    font-weight: bold;
    padding: 0.3rem 0 0;
}