<div class="flex-x-center">
    <div class="menu">
        <div class="menu-link" routerLink="../mes-medias">
            <svg width="26" height="22" viewBox="0 0 26 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect x="6" y="18" width="20" height="4" rx="2" fill="white"/>
                <circle cx="2" cy="20" r="2" fill="white"/>
                <rect x="6" y="9" width="20" height="4" rx="2" fill="white"/>
                <circle cx="2" cy="11" r="2" fill="white"/>
                <rect x="6" width="20" height="4" rx="2" fill="white"/>
                <circle cx="2" cy="2" r="2" fill="white"/>
            </svg>
        </div>
        <div class="menu-link new" routerLink="../add-media">+</div>
        <div class="menu-link" routerLink="">
            <svg width="18" height="20" viewBox="0 0 18 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="10.5" cy="7.5" r="6.75" stroke="white" stroke-width="2"/>
                <line x1="5.76822" y1="12.6402" x2="0.768221" y2="18.6402" stroke="white" stroke-width="3"/>
            </svg>
        </div>
    </div>
</div>
