<div class="flex-x-center">
    <div class="menu">
        <div class="menu-link" routerLink="../mes-medias">
            <svg width="26" height="22" viewBox="0 0 26 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect x="6" y="18" width="20" height="4" rx="2" fill="white"/>
                <circle cx="2" cy="20" r="2" fill="white"/>
                <rect x="6" y="9" width="20" height="4" rx="2" fill="white"/>
                <circle cx="2" cy="11" r="2" fill="white"/>
                <rect x="6" width="20" height="4" rx="2" fill="white"/>
                <circle cx="2" cy="2" r="2" fill="white"/>
            </svg>
        </div>
        <div class="menu-link new" routerLink="../media/add">+</div>
        <div class="menu-link" routerLink="../mon-compte">
            <svg width="16" height="22" viewBox="0 0 16 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                <ellipse cx="7.99944" cy="4.60251" rx="5.71429" ry="4.60251" fill="white"/>
                <ellipse cx="8" cy="15.0967" rx="8" ry="4.60251" fill="white"/>
                <rect y="14.6367" width="16" height="7.36402" fill="white"/>
            </svg>                
        </div>
    </div>
</div>
