@import "app/shared/variables";

html, body, input {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: $ff1;
    background-color: whitesmoke;
}

/* scrollbar width */
::-webkit-scrollbar {
    width: 8px;
    box-shadow: inset 0 0 5px rgb(200, 200, 200);
}

    /* scrollbart track */
    ::-webkit-scrollbar-track {
        border-radius: 10px;
    }

    /* scrollbar handle */
    ::-webkit-scrollbar-thumb {
        background: gray; 
        border-radius: 10px;
    }

    /* scrollbar handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: rgb(75, 75, 75); 
    }

.h-100vh {
    height: 100vh;
}

.phone-margin {
    @media screen and (max-width:768px) {
        margin-bottom: $phone_menu_height;       
    }
    margin-bottom: 0;
}

.loading {
    opacity: 0.7;
    pointer-events: none;
}

.blur {
    filter: blur(4px) brightness(90%);
    pointer-events: none;
}

.text-line-breaker {
    white-space: pre-wrap;
}

.light-text {
    color: grey;
    font-size: 14px;
}

%button {
    color: white;
}

    .button-action {
        @extend %button;
        background-color: green;
    }

    .button-cancel {
        @extend %button;
        background-color: brown;
    }

%tier {
    width: fit-content;
    padding: 0 0.5rem;
    margin: 0.4rem 0;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    color: #495057;;
}

    .S_tier {
        @extend %tier;
        background-color: $cS
    }

    .A_tier {
        @extend %tier;
        background-color: $cA
    }

    .B_tier {
        @extend %tier;
        background-color: $cB
    }

    .C_tier {
        @extend %tier;
        background-color: $cC
    }

    .D_tier {
        @extend %tier;
        background-color: $cD
    }

    .E_tier {
        @extend %tier;
        background-color: $cE
    }

    .F_tier {
        @extend %tier;
        background-color: $cF
    }

.media-title {
    font-size: 20px;
    font-weight: bold;
}

.media-categorie {
    font-size: 16px;
    font-weight: bold;
    color: $c3;
    margin-right: 7px;
}
